pkg/
Gemfile.lock
.rspec
test/tmp
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/config/*.yml
test/dummy/config/*.conf
test/dummy/config/logrotate-config
test/dummy/config/nginx-config
test/dummy/db/schema.rb
test/dummy/db/sphinx/
test/dummy/public/cache/
test/dummy/public/assets/
test/dummy/public/ckeditor_assets/
test/dummy/public/uploads/
test/dummy/vendor/bundle/
test/dummy/app/helpers/manage
test/dummy/config/database.yml
test/dummy/log/development.log
